electron_mirror=https://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
ffmpeg_cdnurl=https://npmmirror.com/mirrors/ffmpeg/
node_mirror=https://npmmirror.com/mirrors/node/